# One Dimensional Data Worksheet
This worksheet reviews the concepts discussed about 1 dimensional data.  The goal for these exercises is getting you to think in terms of vectorized computing.  This worksheet should take 20-30 minutes to complete.

In [1]:
# install.packages("devtools")
# devtools::install_github("hadley/tidyverse")
library(tidyverse)
knitr::opts_chunk$set(echo=FALSE)

Loading tidyverse: ggplot2
Loading tidyverse: tibble
Loading tidyverse: tidyr
Loading tidyverse: readr
Loading tidyverse: purrr
Loading tidyverse: dplyr
Conflicts with tidy packages ---------------------------------------------------
filter(): dplyr, stats
lag():    dplyr, stats

## Exercise 1
Create a data.frame with 100 random integers in a column called "x", then filter out odd integers.  Hint:  you can use either `sample` or `runif` with `floor` to generate integers.  Print out the first 20 numbers.

In [2]:
set.seed(1)
x <- floor(runif(100, min=1, max=100)) # or round or ceiling
# x <- sample(100, 100, replace=TRUE)  # if replace=FALSE, it will just re-arrange 1 to 100

oddnum <- x[x %% 2 == 1]
print(oddnum[1:20])  # or head(oddnum, 20)

 [1] 27 37 57 89 63  7 21 69 39 77 99 77 93 65 13 27 39 87 49 19

## Exercise 2
You will be given a vector containing 10 strings. Create a new vector called validPhoneNumbers that only contains data in the format (XXX)XXX-XXXX.

In [3]:
numbers <- c('(342)123-2345', '410-342-3421', '(234 434-2121', '(301)822-3423', 
             '123-234-3423', '(410)555-4443', 'AAAAHHH', '(XXX)XXX-XXXX', 
             '(602)123-4535', '(234)127-4534')

phone <- grep('\\(\\d{3}\\)\\d{3}-\\d{4}', numbers, value = TRUE)
# OR
# phone <- numbers[grep('\\(\\d{3}\\)\\d{3}-\\d{4}', numbers)]
print(phone)

[1] "(342)123-2345" "(301)822-3423" "(410)555-4443" "(602)123-4535"
[5] "(234)127-4534"

## Exercise 3
The code below contains a function which converts a temperature from Farenheit to Celsius.  You are given a vector called temperatures in Farhenheit.  Using the `sapply()` function, convert the data into degrees Celsius.

In [4]:
toCelsius <- function(x) ((5/9)*x-32)

tempsF <- c(92, 33, -5, 17, 122, 87) 
tempsC <- sapply(tempsF, toCelsius)
print(tempsC)

[1]  19.11111 -13.66667 -34.77778 -22.55556  35.77778  16.33333

## Exercise 4

You are given a list of numbers called `numList`. Count the occurance of each value (`?table`).

In [5]:
numList <- c(1,1,1,1,1,2,4,5,7,5,4,5,6,4,3,5,5,5,6,9,0,7,6,7,5,4,4,7)
table(numList)

numList
0 1 2 3 4 5 6 7 9
1 5 1 1 5 7 3 4 1